.container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.titlePrice {
  color: rgb(18, 3, 31);
  font-size: 28px;
  font-weight: 500;
  padding: 0.5rem;
}

.items {
  display: flex;
  flex-direction: row;
}

.image img {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 420px;
  border-radius: 14px;
  margin: 1rem;
  background: conic-gradient(rgb(255, 2, 99), rgb(255, 14, 46));
}

.image img:hover {
  transform: scale(1.1);
}

.detail {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background: #fff;
  color: #111;
  /* height: 6000px; */
  width: 95%;
  padding: 1.6rem;
}

.productDetail {
  display: flex;
  flex-direction: column;
}

.quantity span {
  font-size: 16px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.quantity {
  width: 80%;
  font-size: 18px;
  color: #111;
}

.selector {
  width: 40%;
  font-size: 20px;
  margin-top: 1rem;
}

.selector .quantitySpan {
  font-size: 18px;
}

.button {
  padding: 16px;
  margin-top: 2rem;
  border: none;
  width: 400px;
  background: rgb(255, 2, 99);
  color: white;
  border-radius: 11px;
  font-size: 20px;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgb(241, 5, 5);
}

.feedbacks {
  background: #fff;
  color: #111;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 500px;
  width: 30%;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.review {
  max-width: 80rem;
  margin: auto;
  background: #fff;
  color: #111;
  margin-top: 1rem;
  padding: 2rem;
  /* box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25); */
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.formControl label {
  font-size: 22px;
}

.formControl section {
  margin-top: 0.5rem;
  border: none;
  border: 0.6px solid rgb(0, 85, 182);
  cursor: pointer;
  font-size: 26px;
  width: 80%;
}

.formControl textarea {
  margin-top: 0.5rem;
  border: none;
  border: 1px solid #58087e;
  border: 0.6px solid rgb(0, 85, 182);
  cursor: pointer;
  font-size: 18px;
  height: 80px;
  outline: none;
  padding: 1rem;
}

.formControl input,
textarea:hover {
  border: 1.6px solid #ae6505;
  cursor: pointer;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit {
  border: none;
  outline: none;
  margin-top: 1rem;
  padding: 14px;
  background: #eb0637;
  color: #fff;
  width: 100%;
  font-size: 17px;
  padding: 1rem;
}

.submit:hover {
  background-color: #8e0220;
}

.reviewSection {
  background-color: #fff;
  color: #111;
  margin-top: 1rem;
  padding: 1.6rem;
  border-bottom: 1px solid grey;
}

@media (max-width: 500px) {
  .container {
    margin-top: 1rem;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 0.4rem;
  }
  .review {
    align-items: center;
    margin-left: 3.5rem;
    width: 65%;
    border-radius: 14px;
    padding: 2rem;
    margin-top: 0rem;
  }
  .feedbacks {
    width: 100%;
  }
  .image img {
    height: 300px;
    width: 100%;
    margin: 0;
  }

  .productdetail {
    width: 100%;
  }
  .detail {
    display: flex;
    flex-direction: column;
    /* height: 950px; */
  }

  .button {
    width: 90%;
  }
}
