.container {
  max-width: 75rem;
  margin: auto;
  margin-top: -7rem;
}

.header1 {
  text-align: center;
  max-width: 40rem;
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 13rem;
  margin-bottom: 4rem;
  background-color: white;
  padding: 1rem;
}

.header {
  text-align: center;
  max-width: 40rem;
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

h2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: rgb(82, 13, 186);
}

.keyword {
  text-align: center;
  background-color: rgb(255, 0, 64);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.productCard {
  text-align: center;
  max-width: 40rem;
  width: 90%;
  margin: auto;
  margin-top: -2rem;
  position: relative;
  background-color: rgb(75, 16, 185);
  color: white;
  border-radius: 14px;
  padding: 2rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product {
  font-size: 40px;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    max-width: 75rem;
    margin: auto;
    padding: 0.5rem;
    margin-top: -17rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .header {
    margin-top: 20rem;
  }

  h2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: rgb(82, 13, 186);
    font-size: 20px;
  }
}
