.container {
  max-width: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12rem;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgb(248, 20, 20);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .loader {
    align-items: center;
    justify-content: center;
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid rgb(248, 20, 20);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
  }
}
