.container form {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
}

.formControl input {
  padding: 13px;
  border: none;
  border: solid 1px #de1743;
  outline: none;
  border-radius: 15px;
  width: 100%;
}

.btn {
  padding: 10px;
  background: #de1743;
  border-radius: 6rem;
  font-size: 14px;
  outline: none;
  border: none;
}

@media (max-width: 500px) {
  .container form {
    width: 100%;
  }
  .btn {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 12px;
    font-size: 13px;
  }

  .formControl input {
    width: 100%;
  }
}
