.container {
  padding: 2rem;
  background-color: #ff3232;
  color: #fff;
  padding-top: 4rem;
}

.logo img {
  font-size: 26px;
  width: 100%;
}

.header {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: 0.2rem;
  position: relative;
  background-color: rgb(221, 13, 75);
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 30%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 11px;
}

.content {
  max-width: 400px;
  margin: auto;
  border-radius: 14px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: rgb(6, 23, 78);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formControl label {
  color: #111;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.formControl input {
  outline: none;
  padding: 15px;
  border: none;
  border: 0.6px solid rgb(221, 13, 75);
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.formControl input:hover {
  border: 0.6px solid #00cc66;
  cursor: pointer;
}

.button {
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(221, 13, 75);
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.button:hover {
  background: rgb(241, 3, 3);
}

.signup {
  color: #00cc66;
  cursor: pointer;
}

@media (max-width: 500px) {
  .login {
    max-width: 450px;
  }
}
